.fcontainer{
  display: flex;
  border: 2PX solid gray;
  height: 50vh;
  /* flex-direction: column-reverse; */
  /* justify-content: flex-start; */
  align-items: center;
  align-items: flex-end;
  /* align-items: flex-start; */
   /* flex-wrap: wrap; */
   /* flex-wrap: wrap-reverse; */
   flex-flow: column wrap;
   
}
.fitem{
     background-color: rgb(170, 40, 40);
     border: 2px solid black;
     margin: 2px;
     width: 122px;
     height: 122px;

     }
     .item1{
        order: 3;
        /* flex-grow: 3; */
        /* flex-shrink: 2; */
        align-self: center;
     }
      .item4{
        order: 4;
        /* flex-grow: 2; */
      }